{% extends 'base.html' %}
{% block content %}
<h2>{{ request_path }}</h2>

<p>Sorry you got the wrong page, friends. This site has undergone a number of transformations over the years as we migrated from project to project.</p>

<p>If you're interested in learning about Hack Jersey overall, we suggest <a href="/about/">you go here</a>.</p>

<p>If you want to find out more about crime data in New Jersey, try <a href="/crime/">our crime project</a>.</p>

<p>If you want to play with our boundary service (or help us rebuild it), <a href="/boundary">visit it here</a>.</p>
{% endblock %}